body {
    background-color: #212121;
    /* light mode background-color: #e8e8e8 */
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #555;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

input[type="checkbox"]:checked {
    background-color: yellow;
}

input[type="submit"] {
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}